*/.idea/
!/.idea/codeStyles/
**/*.iml
**/*.jar
**/*.retry
!gradle/wrapper/gradle-wrapper.jar
**/target/
**/logs/
**/build/
*/out/
out/
gradle_local_cache/

.gradle
.serverless
.terraform
.orig

ruleengine.properties

node_modules/
setup_infrastructure/

yarn_cache/
.idea/

/whitesource/**

